.alineaizquierda{
    text-align: left;
}

.alineacentro{
    text-align: center;
}
.contenedorexterno{
    background-color: lightgray;
    height: 150px;
}
.frase{
    text-align: center;
    vertical-align: middle;    
}
footer{
    background-color: darkgray;
}
#centro{
    background-color: white;
    text-align: center;
}
.IMG{
    width: 25%;
}
.banner{
    width:100%;
}