.alineaizquierda{
    text-align: left;
}

.alineacentro{
    text-align: center;
}
.contenedorexterno{
    background-color: lightgray;
    height: 150px;
}
.contenedorprueba{
    background-color: lightgray;
}
.frase{
    padding-top: 3%;
    text-align: center;
    vertical-align: middle;    
}
footer{
    background-color: darkgray;
}
.banner{
    padding: 2%;
    width:100%;
}
.flexing{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10%
}
.card{
    flex: 0 1 25%;
}